  <script>
    const BASE_API = "<%- blog.homepageUrl %>/api/admin";
    const BASE_ADMIN = "<%- blog.homepageUrl %>/admin";
  </script>

  <% if (view.isHomepage) { %>
  <script>
    (function() {
      const sidebar_link = document.querySelectorAll(".sidebar__inner .link");
      const current_url = location.pathname.split('/')[2];

      if (current_url === "") return;

      sidebar_link.forEach(link => {
        if (link.href.indexOf(current_url) !== -1) {
          link.classList.add("active")
        }
      })
    })();
  </script>
  <% } %>

  <script src="<%- blog.homepageUrl %>/admin/js/dashboard.js"></script>

  <% if (view.isPosts) { %>
  <script src="<%- blog.homepageUrl %>/admin/js/posts.js"></script>
  <% } %>

  <% if (view.isPages) { %>
  <script src="<%- blog.homepageUrl %>/admin/js/pages.js"></script>
  <% } %>

  <% if (view.isEditor) { %>
  <script src="<%- blog.homepageUrl %>/admin/js/editor.js"></script>
  <% } %>

  <% if (view.isPostCreate || view.isPostUpdate) { %>
  <script src="<%- blog.homepageUrl %>/admin/js/tags.js"></script>
  <% } %>

  <% if (view.isPostCreate) { %>
  <script src="<%- blog.homepageUrl %>/admin/js/create-post.js"></script>
  <% } %>

  <% if (view.isPostUpdate) { %>
  <script src="<%- blog.homepageUrl %>/admin/js/update-post.js"></script>
  <% } %>

  <% if (view.isPageCreate) { %>
  <script src="<%- blog.homepageUrl %>/admin/js/create-page.js"></script>
  <% } %>

  <% if (view.isPageUpdate) { %>
  <script src="<%- blog.homepageUrl %>/admin/js/update-page.js"></script>
  <% } %>

  <% if (view.isProfile) { %>
  <script src="<%- blog.homepageUrl %>/admin/js/profile.js"></script>
  <% } %>

  </body>

  </html>