<%- include("./partials/header") %>

<% 
let type_lower;
let type_capital;
let is_save = true;

let submit__button = "publish";
let title = "";
let content = "";
let slug = "";
let tags = [];
let date = "";
let time = "";
let meta_title = "";
let meta_description = "";
let og_image = null;
let og_title = "";
let og_description = "";
let twitter_image = null;
let twitter_title = "";
let twitter_description = "";
let featured = null;

if (view.isPostCreate || view.isPostUpdate) {
  type_capital = "Post";
  type_lower = "post";
}

if (view.isPageCreate || view.isPageUpdate) {
  type_capital = "Page";
  type_lower = "page";
}

if (typeof(post) !== "undefined") {
  if (post.status === "published") {
    submit__button = "update";
    is_save = false;
  };

  if (post.status === "draft") {
    submit__button = "publish";
    is_save = true;
  };

  title = post.title;
  content = post.content;
  slug = post.slug;
  tags = post.tags;

  meta_title = post.meta_title;
  meta_description = post.meta_description;
  og_image = post.og_image;
  og_title = post.og_title;
  og_description = post.og_description;
  twitter_image = post.twitter_image;
  twitter_title = post.twitter_title;
  twitter_description = post.description;
  featured = post.featured;
}

if (typeof(page) !== "undefined") {
  if (page.status === "published") {
    submit__button = "update";
    is_save = false;
  };

  if (page.status === "draft") {
    submit__button = "publish";
    is_save = true;
  };

  title = page.title;
  content = page.content;
  slug = page.slug;
  tags = page.tags;
  meta_title = page.meta_title;
  meta_description = page.meta_description;
  og_image = page.og_image;
  og_title = page.og_title;
  og_description = page.og_description;
  twitter_image = page.twitter_image;
  twitter_title = page.twitter_title;
  twitter_description = page.description;
}
%>

<main class="main__wrap">
  <div class="container">
    <div class="editor__wrap">
      <div class="editor__header">
        <div class="editor__title">
          <input type="text" autocomplete="off" aria-label="Title" dir="ltr" placeholder="<%- type_capital %> title" id="title" name="title" required value="<%- title %>" />
        </div>

        <div class="editor__action">
          <!-- <a href="#" class="btn btn-light">Preview</a> -->
          <% if (is_save) { %>
          <div class="btn btn-light" data-button="save">Save</div>
          <% } %>
          <div class="btn btn-primary" data-button="<%- submit__button %>"><%- submit__button %></div>
        </div>
      </div>

      <div class="editor__content">
        <div class="editor__field">
          <div class="editor__toolbar" role="toolbar">
            <div class="btn" aria-label="View" role="button">
              <svg class="line" viewBox="0 0 24 24">
                <polyline points="7 8 3 12 7 16"></polyline>
                <polyline points="17 8 21 12 17 16"></polyline>
                <line x1="14" y1="4" x2="10" y2="20"></line>
              </svg>
            </div>

            <div class="separator" role="separator"></div>

            <div class="styled" aria-label="Style" role="listbox">
              <div class="button" data-button="styled-dropdown">
                <span aria-hidden="true">Styled</span>

                <svg class="line" viewBox="0 0 24 24">
                  <g transform="translate(5.000000, 8.500000)">
                    <polyline points="14 0 7 7 0 0"></polyline>
                  </g>
                </svg>
              </div>

              <ul class="dropdown">
                <li>
                  <div class="btn" aria-label="Paragraph" data-styled="P">Paragraph</div>
                </li>

                <li>
                  <div class="btn" aria-label="Heading 1" data-styled="H1">Heading H1</div>
                </li>

                <li>
                  <div class="btn" aria-label="Heading 2" data-styled="H2">Heading H2</div>
                </li>

                <li>
                  <div class="btn" aria-label="Heading 3" data-styled="H3">Heading H3</div>
                </li>

                <li>
                  <div class="btn" aria-label="Heading 4" data-styled="H4">Heading H4</div>
                </li>

                <li>
                  <div class="btn" aria-label="Heading 5" data-styled="H5">Heading H5</div>
                </li>

                <li>
                  <div class="btn" aria-label="Heading 6" data-styled="H6">Heading H6</div>
                </li>
              </ul>
            </div>

            <div class="separator" role="separator"></div>

            <div class="btn" data-command="undo" aria-label="Undo" role="button">
              <svg viewBox="0 0 24 24">
                <path d="M8 7v4L2 6l6-5v4h5a8 8 0 1 1 0 16H4v-2h9a6 6 0 1 0 0-12H8z" />
              </svg>
            </div>

            <div class="btn" data-command="redo" aria-label="Redo" role="button">
              <svg viewBox="0 0 24 24">
                <path d="M16 7h-5a6 6 0 1 0 0 12h9v2h-9a8 8 0 1 1 0-16h5V1l6 5-6 5V7z" />
              </svg>
            </div>

            <div class="separator" role="separator"></div>

            <div class="btn" data-command="bold" aria-label="Bold" role="button">
              <svg class="line" viewBox="0 0 24 24">
                <path d="M7 5h6a3.5 3.5 0 0 1 0 7h-6z"></path>
                <path d="M13 12h1a3.5 3.5 0 0 1 0 7h-7v-7"></path>
              </svg>
            </div>

            <div class="btn" data-command="italic" aria-label="Italic" role="button">
              <svg class="line" viewBox="0 0 24 24">
                <line x1="11" y1="5" x2="17" y2="5"></line>
                <line x1="7" y1="19" x2="13" y2="19"></line>
                <line x1="14" y1="5" x2="10" y2="19"></line>
              </svg>
            </div>

            <div class="btn" data-command="underline" aria-label="Underline" role="button">
              <svg class="line" viewBox="0 0 24 24">
                <path d="M7 5v5a5 5 0 0 0 10 0v-5"></path>
                <path d="M5 19h14"></path>
              </svg>
            </div>

            <div class="separator" role="separator"></div>

            <div class="btn" data-command="justifyLeft" aria-label="Align left" role="button">
              <svg class="line" viewBox="0 0 24 24">
                <line x1="4" y1="6" x2="20" y2="6"></line>
                <line x1="4" y1="12" x2="14" y2="12"></line>
                <line x1="4" y1="18" x2="18" y2="18"></line>
              </svg>
            </div>

            <div class="btn" data-command="justifyCenter" aria-label="Align center" role="button">
              <svg class="line" viewBox="0 0 24 24">
                <line x1="4" y1="6" x2="20" y2="6"></line>
                <line x1="8" y1="12" x2="16" y2="12"></line>
                <line x1="6" y1="18" x2="18" y2="18"></line>
              </svg>
            </div>

            <div class="btn" data-command="justifyRight" aria-label="Align right" role="button">
              <svg class="line" viewBox="0 0 24 24">
                <line x1="4" y1="6" x2="20" y2="6"></line>
                <line x1="10" y1="12" x2="20" y2="12"></line>
                <line x1="6" y1="18" x2="20" y2="18"></line>
              </svg>
            </div>

            <div class="btn" data-command="justifyFull" aria-label="Justify" role="button">
              <svg class="line" viewBox="0 0 24 24">
                <line x1="4" y1="6" x2="20" y2="6"></line>
                <line x1="4" y1="12" x2="20" y2="12"></line>
                <line x1="4" y1="18" x2="20" y2="18"></line>
              </svg>
            </div>

            <div class="separator" role="separator"></div>

            <div class="btn" data-command="insertUnorderedList" aria-label="Bullet list" role="button">
              <svg class="line" viewBox="0 0 24 24">
                <line x1="9" y1="6" x2="20" y2="6"></line>
                <line x1="9" y1="12" x2="20" y2="12"></line>
                <line x1="9" y1="18" x2="20" y2="18"></line>
                <line x1="5" y1="6" x2="5" y2="6.01"></line>
                <line x1="5" y1="12" x2="5" y2="12.01"></line>
                <line x1="5" y1="18" x2="5" y2="18.01"></line>
              </svg>
            </div>

            <div class="btn" data-command="insertOrderedList" aria-label="Numbered list" role="button">
              <svg class="line" viewBox="0 0 24 24">
                <path d="M11 6h9"></path>
                <path d="M11 12h9"></path>
                <path d="M12 18h8"></path>
                <path d="M4 16a2 2 0 1 1 4 0c0 .591 -.5 1 -1 1.5l-3 2.5h4"></path>
                <path d="M6 10v-6l-2 2"></path>
              </svg>
            </div>

            <div class="separator" role="separator"></div>

            <div class="btn" data-command="insertLinkUrl" aria-label="Insert link" role="button">
              <svg class="line" viewBox="0 0 24 24">
                <path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path>
                <path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path>
              </svg>
            </div>

            <div class="btn" data-command="unlink" aria-label="Remove link" role="button">
              <svg class="line" viewBox="0 0 24 24">
                <path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path>
                <path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path>
                <line x1="16" y1="21" x2="16" y2="19"></line>
                <line x1="19" y1="16" x2="21" y2="16"></line>
                <line x1="3" y1="8" x2="5" y2="8"></line>
                <line x1="8" y1="3" x2="8" y2="5"></line>
              </svg>
            </div>

            <div class="separator" role="separator"></div>

            <div class="btn" data-command="editImage" aria-label="Insert image" role="button">
              <svg class="line" viewBox="0 0 24 24">
                <line x1="15" y1="8" x2="15.01" y2="8"></line>
                <rect x="4" y="4" width="16" height="16" rx="3"></rect>
                <path d="M4 15l4 -4a3 5 0 0 1 3 0l5 5"></path>
                <path d="M14 14l1 -1a3 5 0 0 1 3 0l2 2"></path>
              </svg>
            </div>
          </div>

          <div class="editor__contenteditable">
            <iframe id="editable" frameborder="0"></iframe>
            <textarea class="hidden" name="content" id="content" cols="30" rows="10"><%- content %></textarea>
          </div>
        </div>

        <div class="editor__forms">
          <div class="editor__forms-container">
            <div class="editor__forms-content">
              <div class="editor__forms-inner">
                <div class="editor__forms-group">
                  <label for="slug">Post URL</label>
                  <input type="text" id="slug" placeholder="Add permalink" value="<%- slug %>" />
                </div>

                <% if (view.isPostCreate || view.isPostUpdate) { %>
                <div class="editor__forms-group">
                  <label for="tags">Tags</label>

                  <div class="editor__forms-tags">
                    <input type="text" id="tags" placeholder="Separate with comma" />
                  </div>

                  <ul class="editor__forms-tdata" data-id="tags-data"></ul>
                </div>
                <% } %>

                <div class="editor__forms-group">
                  <details class="editor__forms-details">
                    <summary>
                      <span class="name">Meta data</span>
                      <svg class="line" viewBox="0 0 24 24">
                        <g transform="translate(5.000000, 8.500000)">
                          <polyline points="14 0 7 7 0 0"></polyline>
                        </g>
                      </svg>
                    </summary>

                    <div class="content">
                      <div class="editor__forms-group">
                        <label for="meta-title">Meta title</label>
                        <input type="text" id="meta-title" placeholder="Meta title" value="<%- meta_title %>" />
                      </div>

                      <div class="editor__forms-group">
                        <label for="meta-description">Meta description</label>
                        <input type="text" id="meta-description" placeholder="Meta description" value="<%- meta_description %>" />
                      </div>
                    </div>
                  </details>

                  <details class="editor__forms-details">
                    <summary>
                      <span class="name">Meta facebook</span>
                      <svg class="line" viewBox="0 0 24 24">
                        <g transform="translate(5.000000, 8.500000)">
                          <polyline points="14 0 7 7 0 0"></polyline>
                        </g>
                      </svg>
                    </summary>

                    <div class="content">
                      <div class="editor__forms-group">
                        <label for="facebook-title">Og title</label>
                        <input type="text" id="facebook-title" placeholder="Facebook title" value="<%- og_title %>" />
                      </div>

                      <div class="editor__forms-group">
                        <label for="facebook-description">Og description</label>
                        <input type="text" id="facebook-description" placeholder="Facebook description" value="<%- og_description %>" />
                      </div>
                    </div>
                  </details>

                  <details class="editor__forms-details">
                    <summary>
                      <span class="name">Meta twitter</span>
                      <svg class="line" viewBox="0 0 24 24">
                        <g transform="translate(5.000000, 8.500000)">
                          <polyline points="14 0 7 7 0 0"></polyline>
                        </g>
                      </svg>
                    </summary>

                    <div class="content">
                      <div class="editor__forms-group">
                        <label for="twitter-title">Twitter title</label>
                        <input type="text" id="twitter-title" placeholder="Twitter title" value="<%- twitter_title %>" />
                      </div>

                      <div class="editor__forms-group">
                        <label for="twitter-description">Twitter description</label>
                        <input type="text" id="twitter-description" placeholder="Twitter description" value="<%- twitter_description %>" />
                      </div>
                    </div>
                  </details>
                </div>

                <% if (view.isPostCreate || view.isPostUpdate) { %>
                <div class="editor__forms-featured">
                  <input type="checkbox" class="hidden" id="featured" <%- featured ? "checked" : "" %> />
                  <label for="featured">Featured this post</label>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include("./partials/footer") %>