<!DOCTYPE html>
<html lang="en">

<head>
  <title><%- blog.pageTitle %></title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="<%- blog.homepageUrl %>/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="<%- blog.homepageUrl %>/assets/css/style.min.css">

  <script>
    /*@shinsenter/defer.js@2.5.0*/ ! function(r, i, t) {
      var u, o = /^data-(.+)/,
        a = 'IntersectionObserver',
        c = /p/.test(i.readyState),
        s = [],
        f = s.slice,
        l = 'deferjs',
        n = 'load',
        e = 'pageshow',
        d = 'forEach',
        h = 'shift';

      function m(e) {
        i.head.appendChild(e)
      }

      function v(e, n) {
        f.call(e.attributes)[d](n)
      }

      function p(e, n, t, o) {
        return o = (o = n ? i.getElementById(n) : o) || i.createElement(e), n && (o.id = n), t && (o.onload = t), o
      }

      function y(e, n) {
        return f.call((n || i).querySelectorAll(e))
      }

      function b(t, e) {
        y('source', t)[d](b), v(t, function(e, n) {
          (n = o.exec(e.name)) && (t[n[1]] = e.value)
        }), e && (t.className += ' ' + e), n in t && t[n]()
      }

      function I(e) {
        u(function(o) {
          o = y(e || '[type=deferjs]'),
            function e(n, t) {
              (n = o[h]()) && (n.parentNode.removeChild(n), (t = p(n.nodeName)).text = n.text, v(n, function(e) {
                'type' != e.name && t.setAttribute(e.name, e.value)
              }), t.src && !t.hasAttribute('async') ? (t.onload = t.onerror = e, m(t)) : (m(t), e()))
            }()
        })
      }(u = function(e, n) {
        c ? t(e, n) : s.push(e, n)
      }).all = I, u.js = function(n, t, e, o) {
        u(function(e) {
          (e = p('SCRIPT', t, o)).src = n, m(e)
        }, e)
      }, u.css = function(n, t, e, o) {
        u(function(e) {
          (e = p('LINK', t, o)).rel = 'stylesheet', e.href = n, m(e)
        }, e)
      }, u.dom = function(e, n, t, o, i) {
        function c(e) {
          o && !1 === o(e) || b(e, t)
        }
        u(function(t) {
          t = a in r && new r[a](function(e) {
            e[d](function(e, n) {
              e.isIntersecting && (n = e.target) && (t.unobserve(n), c(n))
            })
          }, i), y(e || '[data-src]')[d](function(e) {
            l in e || (e[l] = 1, t ? t.observe(e) : c(e))
          })
        }, n)
      }, u.reveal = b, r.Defer = u, r.addEventListener('on' + e in r ? e : n, function() {
        for (I(); s[0]; t(s[h](), s[h]())) c = 1
      })
    }(this, document, setTimeout);
  </script>
  <script id='polyfill-js'>
    'IntersectionObserver' in window || document.write('<script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver"><\/script>');
  </script>
</head>

<body class="<%- view.isMultipleItems ? "multi" : "" %><%- view.isAuthor ? "author" : "" %><%- view.isSingleItem ? "single" : "" %><%- view.isPost ? " post" : "" %><%- view.isPage ? " page" : "" %>">

  <input class="hidden off-navbot" type="checkbox" id="off-navbot">

  <header class="header__wrap">
    <div class="container">
      <div class="header__top">
        <nav class="navbar__top">
          <ul>
            <li>
              <a href="<%- blog.homepageUrl %>" class="link">
                <span class="name">Beranda</span>
              </a>
            </li>

            <li>
              <a href="<%- blog.homepageUrl %>/p/about-us" class="link">
                <span class="name">About us</span>
              </a>
            </li>

            <li>
              <a href="<%- blog.homepageUrl %>/p/contact-us" class="link">
                <span class="name">Contact us</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="header__middle">
        <div class="navbar__title">
          <% if (view.isHomepage) { %>
          <h1>
            <span class="title"><%- blog.title %></span>
          </h1>
          <% } else { %>
          <h2>
            <a href="<%- blog.homepageUrl %>" class="title"><%- blog.title %></a>
          </h2>
          <% } %>
        </div>
      </div>

      <div class="header__bottom">
        <nav class="navbar__bottom">
          <div class="navbar__hamburger">
            <label for="off-navbot">
              <svg class="line" viewBox="0 0 24 24">
                <line x1="3" x2="21" y1="12" y2="12"></line>
                <line x1="3" x2="21" y1="5" y2="5"></line>
                <line x1="3" x2="21" y1="19" y2="19"></line>
              </svg>
            </label>
          </div>

          <ul>
            <li>
              <a href="<%- blog.homepageUrl %>/category/tutorial" class="link">
                <span class="name">Tutorial</span>
              </a>
            </li>

            <li>
              <a href="<%- blog.homepageUrl %>/category/gadget" class="link">
                <span class="name">Gadget</span>
              </a>
            </li>

            <li>
              <a href="<%- blog.homepageUrl %>/category/games" class="link">
                <span class="name">Games</span>
              </a>
            </li>
          </ul>

          <div class="header__icon">
            <label for="search">
              <svg class="line" viewBox="0 0 24 24">
                <circle cx="11.7666" cy="11.7666" r="8.98856"></circle>
                <path d="M18.0183 18.4851L21.5423 22"></path>
              </svg>
            </label>
          </div>

          <div class="header__search">
            <form action="<%- blog.homepageUrl %>" method="get">
              <input aria-label="Search for this blog" type="search" name="q" id="search" autocomplete="off" placeholder="Try tutorial, games, etc">
              <button type="reset"></button>
              <button type="submit">
                <svg class="line" viewBox="0 0 24 24">
                  <circle cx="11.7666" cy="11.7666" r="8.98856"></circle>
                  <path d="M18.0183 18.4851L21.5423 22"></path>
                </svg>
              </button>
              <span class="cover"></span>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </header>